*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
background-color: darkgray;
background-image: url("Images/fondo.jpg");
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2{
    color: white;
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 4px;
    text-align: center;
}

p{
    color: white;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 4px;
    text-align: left;

}

.Division{
    display: grid;
    grid-template-columns: 50% 50%;
}

.Cuar1{
    border-radius: 10px;
    background: rgba(218, 58, 18, 0.589);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 25px;
    width: 400px;
    height: 500px;
}

.Cuar2{
    border-radius: 10px;
    background: rgba(201, 118, 9, 0.589);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 25px;
    width: 400px;
    height: 500px;

}

.ingreso{
    background-color:azure;
    border-top: 40px;
    border-radius: 5px;
    border: 2px solid #6495ED;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 8px;
    width: 300px;
}

.ajus{
    margin-top: 10px;
    text-align: center;
}

.boton{
    background-color:#FF5151;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-flex;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    transition: .5s ease all;
    width: 120px;

}
.boton:hover{
background-color:#B22222;

}



